@model List<Product>
<div class="relate-section section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 owl_nav_custome1 related-product xs-margin-top-15">
                <div class="section_prd_feature">
                    <div class="heading title-head">
                        <h2>
                            <a>Sản phẩm cùng loại</a>
                        </h2>
                    </div>
                    <div class="products product_related products-view-grid-bb owl-carousel owl-theme products-view-grid not-dot2" data-dot="false"
                         data-nav="false" data-lg-items="4" data-md-items="4" data-sm-items="3" data-xs-items="2" data-margin="30">

                       @foreach (var item in Model)
                        {
                            <div class="item_product_main related-item">
                                <div class="item">

                                    <div class="product-item grid product-box product-item-main clearfix">
                                        <div class="product-thumbnail">



                                            <div class="saleright">
                                                <span>
                                                    -
                                                    7%
                                                </span>
                                            </div>

                                            <a class="image_thumb" 
                                                asp-route="ProductDetail" asp-route-id="@item.ProductId" asp-route-title="@item.Title?.RemoveVietnameseAccents()">
                                                <img src="@item.Avatar" data-lazyload="@item.Avatar">
                                            </a>

                                        </div>
                                        <div class="product-detail product-info">

                                            <div class="reviews_details_product">
                                                <div class="bizweb-product-reviews-badge" data-id="13363430"></div>
                                            </div>

                                            <h3 class="product-title">
                                                <a asp-route="ProductDetail" asp-route-id="@item.ProductId" asp-route-title="@item.Title?.RemoveVietnameseAccents()">@item.Title</a>
                                            </h3>

                                            <div class="blockprice ">
                                               
                                                <div class="product-item-price price-box">



                                                    <span class="price-style">
                                                        <span class="old-price">@item.OldPrice.GetCurrencyFormat()</span>
                                                    </span>

                                                    <span class="price-style">
                                                        <span class="special-price">@item.Price.GetCurrencyFormat()</span>
                                                    </span>


                                                </div>
                                            </div>
                                        </div>
                                      
                                            <div class="button-view product-action clearfix">
                                                <div class="add-cart btn-buy button">
                                                    <a class="btn-cart button_35 left-to" asp-route="ProductDetail" asp-route-id="@item.ProductId" asp-route-title="@item.Title?.RemoveVietnameseAccents()">
                                                        <span>Xem chi tiết</span>
                                                    </a>
                                                </div>
                                            </div>

                                        
                                    </div>

                                </div>
                            </div>
                        }
                       







                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
